@import url("bootstrap/dist/css/bootstrap.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("components/images/hostel1.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  /* background-size: contain; */
  background-position: center;
}
.main-div {
  width: 20vw;
  height: 60vh;
  background-color: aquamarine;
  /* margin-left: 500px; */
  /* margin-top: 50px; */
  border-radius: 10px;
  border: 2px solid black;
}

.heading {
  text-align: center;
  margin-top: 15px;
  color: whitesmoke;
}

.input {
  width: 80%;
  margin-left: 10%;
  padding: 3px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  background-color: aquamarine;
}
.input::placeholder {
  color: #191919;
}
.button {
  width: 80%;
  height: 40px;
  margin-top: 30px;
  border-radius: 20px;
  background-color: whitesmoke;
  border: none;
  margin-left: 10%;
}
.button:hover {
  background-color: rgb(234, 234, 234);
}
